*{
  box-sizing: border-box;
}
.container{
  max-width: 980px;
  margin: 0 auto;
  border: 1px solid black;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}
.aside{
  flex: 0 0 200px;
}
.box{
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}
.main{
  display: flex;
  flex: 1 1 0;
}
.mini{
  flex: 25%;
  margin: 5px;
  border: 1px solid darkred;
}
